.flex-gallery-a {
    /**
     * Keeps it clean.
     */
}
.flex-gallery-img {
    /**
     * Makes images undraggable.
     */
    user-select: none;
    /**
     * Lets widths of images fit their parents (<a>s)
     */
    width: 100%;
    /**
     * Eliminates paddings images below images.
     */
    /*display: block;*/
    /**
     * Equivalent to "display: block;"
     */
    vertical-align: middle;
}
.flex-gallery-container {
    /**
     * Flex display is the key point to make images grow.
     */
    display: flex;
    flex-wrap: wrap;
}
.flex-gallery-container::after {
    /**
     * Creates a blank element after the last image.
     */
    content: '';
    /**
     * Prevents the images in the last row to grow.
     * In case they become too large.
     */
    flex-grow: 99999;
    /**
     * Well... If the left space is less than (screenHeight / 4), make them grow!
     */
    min-width: calc(100vw / 4);
}